@font-face {
  font-family: 'PierSans';
  font-weight: normal;
  src: url(./fonts/PierSans-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'PierSansBold';
  font-weight: normal;
  src: url(./fonts/PierSans-Bold.otf) format("opentype");
}
.pierSans{
  font-family: "PierSans";
}
@font-face {
  font-family: 'OpenSans';
  font-weight: normal;
  src: url(./fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'OpenSansBold';
  font-weight: normal;
  src: url(./fonts/OpenSans-Bold.ttf) format("truetype");
}
.openSans{
  font-family: "OpenSans";
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url(./fonts/Calibri-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'RobotoBold';
  font-weight: normal;
  src: url(./fonts/Roboto-Bold.ttf) format("truetype");
}
.roboto{
  font-family: "Roboto";
}
@font-face {
  font-family: 'NunitoSans';
  font-weight: normal;
  src: url(./fonts/NunitoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'NunitoSansBold';
  font-weight: normal;
  src: url(./fonts/NunitoSans-Bold.ttf) format("truetype");
}
.nunitoSans{
  font-family: "NunitoSans";
}
@font-face {
  font-family: 'FredokaOne';
  font-weight: normal;
  src: url(./fonts/FredokaOne-Regular.ttf) format("truetype");
}
.fredokaOne{
  font-family: "FredokaOne";
}
@font-face {
  font-family: 'CarterOne';
  font-weight: normal;
  src: url(./fonts/CarterOne-Regular.ttf) format("truetype");
}
.carterOne{
  font-family: "CarterOne";
}
@font-face {
  font-family: 'Calibri';
  font-weight: normal;
  src: url(./fonts/Calibri-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'CalibriBold';
  font-weight: normal;
  src: url(./fonts/Calibri-Bold.ttf) format("truetype");
}
.calibri{
  font-family: "Calibri";
}

:root {
  --font-color: #111111;
  --background: #fafafa;
  --background-settings: white;
  --highlight: #42424248;
  --highlight2: #8b8b8b1a;
  --highlight3: #dbdbdb;
  --highlight-tabs: #3838381f;
  --accent: #64b5f6;
  --brightnessIcon: 0;
  --color:#eeeeee;
  --font-normal: "PierSans";
  --font-bold: "PierSansBold";
  --font-paragraph: "Calibri";
}

.descriptionParagraph{
  font-family: var(--font-paragraph);
  font-size: 20px;
}

input[type=checkbox] {
  transform: scale(1.4);
}

.popover {
  background: var(--highlight3);
  border-radius: 10px;
}

.modal-content{
  background-color:var(--background-settings);
  color: var(--font-color);
}

.marks-content{
  margin: 30px;
  margin-top: 10px;
  color: var(--font-color);
}

.form-control{
  background-color: var(--background);
  color:var(--font-color);
  transition: all 0.3s;
}
.form-control:valid {
  background-color: var(--background);
  color:var(--font-color);
  border-color: var(--highlight);
}
.card{
  background-color: var(--highlight2);
  color:var(--font-color);
}

body{
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background:var(--background);
}

::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95); 
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 119); 
}

::-webkit-scrollbar-thumb:active{
  background:rgb(78, 78, 78); 
}


.screen{
  padding:5vw;
  height: 100vh;
}

.header1{
  font-size: 50px;
  font-family: var(--font-bold);
  color: var(--font-color);
  line-height: 1.2;
  margin-bottom: 30px;
}
.header2{
  font-size: 32px;
  font-family: var(--font-normal);
  color: var(--font-color);
}
.header3{
  font-size: 25px;
  font-family: var(--font-normal);
  color: var(--font-color);
}

.button{
  font-size: 20px;
  border-radius: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'PierSans';
  background-color: #3651ef;
  background-image: linear-gradient(to right, #36D1DC,#5bb2e5, #5B86E5, #6015a5, #6015a5, #6015a5);
  background-size:240%;
  text-align: center;
  color: white;
  display: inline-block;
  transition: background-position 0.5s, box-shadow 0.1s;
  box-shadow: 0 2px 8px 0 #00000066;
  cursor: pointer;
}

.button:hover{
  background-position:100%;
}

.button:active{
  transition: background-position 0.1s, box-shadow 0.07s;
  background-position:0%;
  box-shadow: 0 0.2vw 0.5vw 0 #00000000;
}

.taskTable{
  color: var(--font-color);
  overflow-x:auto;
  padding-top: 0%;
  padding-bottom: 1%;
  font-family: var(--font-paragraph);
}
table.taskList {
  width: 100%;
  min-width: 500px;
  max-width: 950px;
  border-collapse: separate;
  border-spacing: 10px;
  margin-left: -10px;
}
.taskList > tbody > tr > th{
  text-align: left;
  padding-left:10px;
  padding-right:10px;
  font-weight: normal;
  border-radius: 10px;
}
.taskList > tbody > tr > td {
  padding:10px;
  border-radius: 10px;
}
.taskList > tbody > tr{
  transition: background-color 0.5s;
}
.taskList > tbody > tr:hover{
  background-color: var(--highlight);
  transition: background-color 0.2s;
}
.taskList > tbody > tr .courseNone{
  transition: background-color 10s;
}
.taskList > tbody > tr:hover .courseNone{
  background-color: var(--background);
  opacity: 1;
  transition: background-color 0s;
}
.taskList > tbody > tr .pin:active{
  transition: background-color 0.2s;
  background-color: var(--highlight)
}
.taskList > tbody > tr .pinNone{
  transition: background-color 5s;
}
.taskList > tbody > tr:hover .pinNone{
  background-color: var(--background);
  opacity: 1;
  transition: background-color 0s;
}
.taskList > tbody > tr th{
  background-color: var(--background);
}
.taskList > tbody > tr:hover th{
  background-color: var(--background);
}

th.check{
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}
td.check{
  height: 25px;
  padding-right:5px;
  padding-left:5px;
  background-color: var(--accent);
  border-radius: 5px;
  text-align:center;
  font-size: 130%;
  cursor: pointer;
  user-select: none;
}
td.check:hover{
  box-shadow: 2px 2px 5px 1px var(--highlight);
  filter: brightness(1.1);
  transition: filter 0.2s, box-shadow 0.2s;
}
td.check:active{
  box-shadow: 2px 2px 5px 1px var(--background);
  filter: brightness(1);
  transition: filter 0.1s, box-shadow 0.2s;
}
td.task{
  font-size: 130%;
}
th.task{
  min-width: 160px;
}
th.date{
  width:19.8%;
  min-width: 110px;
}
td.date{
  font-size: 110%;
}
th.time{
  width:20%;
  min-width: 115px;
}
td.time{
  font-size: 110%;
}
th.course{
  width:12%;
}
td.course{
  font-size: 120%;
}
th.pin{
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}
td.pin{
  cursor: pointer;
}
.settingsIcon{
  width: 40px;
  padding:5px;
  top:1%;
  right:1%;
  position: fixed;
  filter:invert(var(--brightnessIcon));
  transition: transform 0.5s;
  cursor: pointer;
}
.settingsIcon:hover{
  transform: rotate(65deg);
}
.refreshIcon{
  width: 40px;
  padding:6px;
  top:1%;
  right: 60px;
  position: fixed;
  filter:invert(var(--brightnessIcon));
  transition: transform 0.5s;
  cursor: pointer;
}
.refreshIconSpin{
  animation: rotate 0.5s forwards;
}
@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

.fadeIn{
  opacity:0;
  animation: fadeIn 0.8s forwards;
}
.fadeOut{
  opacity:1;
  animation: fadeOut 0.8s forwards;
}

.hoverSort{
  opacity:1;
  transition: opacity 0.5s;
}
.hoverSort:hover{
  opacity:0.5;
  cursor: pointer;
  transition: opacity 0.5s;
}
.hoverSort:active{
  opacity:0.9;
  cursor: pointer;
  transition: opacity 0.1s;
}
.infoIcon{
  right:0;
  top:0;
  margin: 3px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
  width:40px;
  filter:invert(var(--brightnessIcon));
  opacity: 0.7;
  position: absolute;
  cursor: pointer;
  user-select: none;
}
.iconBoxWeek{
  /* The css position is in DayEntry class */
  position: absolute;
  padding-right: 3px;
  padding-bottom: 5px;
}
.infoIconWeek{
  margin: 0px;
  margin-right: 1px;
  margin-top: 0;
  padding: 0px;
  padding-left:0px;
  margin-bottom: 8px;
  width:19px;
  filter:invert(var(--brightnessIcon));
  opacity: 0.7;
  cursor: pointer;
  user-select: none;
  margin-right:6px;
}
.pinIconWeek{
  margin: 0px;
  margin-right: 1px;
  margin-top: 0;
  padding: 0px;
  padding-left:0px;
  margin-bottom: 8px;
  margin-right:8px;
  width:13px;
  filter:invert(var(--brightnessIcon));
  opacity: 0.7;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
}

.checkImg{
  width:20px;
  padding-bottom:2px;
}
.pinImg{
  width:15px;
  filter:invert(var(--brightnessIcon));
  display: block;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}
.checkIn{
  opacity:0;
  transform: scale(0.3);
  animation: scaleIn 0.2s forwards;
}
.checkOut{
  opacity:0;
  transform: scale(1);
  animation: scaleOut 0.2s forwards;
}
.pinIn{
  opacity:0;
  transform: scale(0.3);
  animation: scaleSpinIn 0.2s forwards;
}
.pinOut{
  opacity:0;
  transform: scale(1);
  animation: scaleSpinOut 0.2s forwards;
}
.pinInWeek{
  transform: scale(0.3);
  animation: scaleSpinInWeek 0.2s forwards;
}
.pinOutWeek{
  transform: scale(1);
  animation: scaleSpinOutWeek 0.2s forwards;
}
.checkHeader{
  filter:invert(var(--brightnessIcon));
  transform: scale(0.5);
}
.pinHeader{
  filter:invert(var(--brightnessIcon));
  transform: scale(0.34);
}
.arrowPosition {
  margin-top: 10px;
  padding:17px;
  z-index: 5;
  transition: transform 0.4s, opacity 0.4s;
}
.arrowPosition:hover{
  opacity:0.7;
  transition: transform 0.4s, opacity 0.4s;
  transform: scale(0.8);
}
.arrowDay {
  border: solid var(--font-color);
  border-width: 0 6px 6px 0;
  display: inline-block;
  border-radius: 4px;
  padding: 8px;
  transition: transform 0.5s, opacity 0.03s, 
}
.arrowDay:active {
  opacity:1;
  transition: transform 0.03s, opacity 0.03s,;
}
.right {
  transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
}
.weekTable{
  color: var(--font-color);
  overflow-x:auto;
  padding-top: 0%;
  padding-bottom: 1%;
  font-family: var(--font-paragraph);
}
table.weekList {
  width: 100%;
  min-width: 1150px;
  border-collapse: separate;
  border-spacing: 10px;
  margin-left: -10px;
}
.weekList > tbody > tr > th{
  border: 1px solid #5555558f;
  font-weight: normal;
  border-radius: 10px;
}
.weekEntry{
  padding:10px;
  border-radius: 10px;
  background-color: #5e5e5e21;
  margin-bottom: 8px;
  position: relative;
}
.weekEntryDone{
  background-color: #5e5e5e0c;
  opacity: 0.7;
  transition: background-color 0.3s, filter 0.3s, opacity 0.3s;
}

.weekList  tbody  tr td {
  vertical-align: top;
}
.weekList tbody  tr  td  .weekEntry{
  transition: background-color 0.3s, filter 0.3s, opacity 0.3s;
}
.weekList  tbody  tr  td  .weekEntry:hover{
  background-color: var(--highlight);
  transition: background-color 0.3s, filter 0.3s, opacity 0.3s;
  filter: brightness(0.9);
}
.weekList  tbody  tr  td  .weekEntryDone:hover{
  background-color: #5e5e5e18;
  opacity: 1.1;
  transition: background-color 0.5s, opacity 0.5s;
}
.weekList  tbody  tr  td  .weekEntry:active{
  filter: brightness(0.7);
  transition: filter 0.5s;
}
.weekList  tbody  tr th{
  background-color: var(--background);
}
.weekList  tbody  tr:hover th{
  background-color: var(--background);
}
th.weekday{
  font-size: 150%;
  width:10%;
  min-width: 130px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.weekEventLabel{
  font-size: 22px;
  line-height: 1.1;
  padding-bottom: 4px;
  cursor: pointer;
}
.weekTimeLabel{
  font-size: 16px;
  opacity: 0.8;
  line-height: 1.1;
  padding-bottom: 3px;
  cursor: pointer;
}
.courseBubble{
  margin-bottom: 2px;
  margin-top: 5px;
}
.courseBubble span{
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  border-radius: 25px;
  color: black;
}
@keyframes scaleIn{
  0%{
    opacity:0;
    transform: scale(0.3);
  }
  91%{
    opacity:1;
    transform: scale(1.2);
  }
  100%{
    opacity:1;
    transform: scale(1);
  }
}
@keyframes scaleSpinIn{
  0%{
    opacity:0;
    transform: scale(0.3) rotate(50deg);
  }
  91%{
    opacity:1;
    transform: scale(1) rotate(-50deg);
  }
  100%{
    opacity:1;
    transform: scale(1) rotate(-50deg);
  }
}
@keyframes scaleSpinInWeek{
  0%{
    opacity:0.2;
    transform: scale(1) rotate(0deg);
  }
  91%{
    opacity:0.9;
    transform: scale(1) rotate(-50deg);
  }
  100%{
    opacity:0.9;
    transform: scale(1) rotate(-50deg);
  }
}
@keyframes scaleOut{
  0%{
    opacity:1;
    transform: scale(1);
  }
  100%{
    opacity:0;
    transform: scale(0.3);
  }
}
@keyframes scaleSpinOut{
  0%{
    opacity:1;
    transform: scale(1) rotate(-50deg);
  }
  100%{
    opacity:0;
    transform: scale(0.3) rotate(10deg);
  }
}
@keyframes scaleSpinOutWeek{
  0%{
    opacity:0.9;
    transform: rotate(-50deg);
  }
  100%{
    opacity:0.1;
    transform: rotate(0deg);
  }
}
.courseLabel{
  font-size: 30px;
  color: var(--font-color);
  font-family: var(--font-bold);
  margin-bottom: 5px;
}
.markLabelBold{
  font-size: 20px;
  color: var(--font-color);
  font-family: var(--font-bold);
  display:"inline-block";
}
.markLabel{
  font-size: 20px;
  margin-right: 10px;
  color: var(--font-color);
  font-family: var(--font-normal);
  display:"inline-block";
}

.tabsLabel{
  font-size: 20px;
  color: var(--font-color);
  font-family: var(--font-normal);
  margin-bottom: 25px;
  border-bottom: solid;
  border-color: var(--highlight);
  outline: none !important;
}

.tabsLabel a{
  color: var(--font-color);
  opacity: 0.6;
  margin-right:5px;
  transition: opacity 0.3s, background-color 0.3s;
  outline: none !important;
  
}
.tabsLabel a:hover{
  transition: opacity 0.3s, background-color 0.3s;
  background-color: var(--highlight2);
  outline: none !important;
}
.nav-item.nav-link:hover{
  border:none;
  border-bottom: none;
}
.nav-item.nav-link{
  border:none;
}
.nav-tabs .nav-item.nav-link.active{
  background-color: var(--highlight-tabs);
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: var(--font-color);
  opacity: 1;
  border-width:2px;
  border-color: var(--highlight);
}

.addButton{
  padding:9px;
  font-size: 35px;
  border-radius: 100px;
  bottom: 7%;
  right: 5%;
  width: 70px;
  background-color: var(--accent);
  font-weight: bold;
  color:white;
  text-align: center;
  font-family: var(--font-paragraph);
  transition: transform 0.6s;
  cursor: pointer;
  position: fixed;
  user-select: none;
}
.addButtonOffset{
  transform: translateY(-2px);
}
.addButton:hover{
  transform: rotate(180deg);
  transition: transform 0.3s;
  box-shadow: -2px -2px 5px 1px var(--accent);
}
.addButton:active{
  transform: rotate(0deg);
  transition: transform 0.1s;
  box-shadow: -2px -2px 5px 1px var(--background);
}
.marginNameFix{
  margin-right: 30px;
}

.pomoTimer{
  height: 30px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4vh;
  background-color: var(--accent);
  border-radius: 10px;
  transition: width 1s;
  text-align: center;
}

.pomoTimerContainer{
  color: var(--font-color);
  font-family: var(--font-normal);
  font-size: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pomoTimerContainer > p{
  font-size: 20px;
}

@keyframes fadeIn{
  0%{opacity:0}
  100%{opacity:1}
}
@keyframes fadeOut{
  0%{opacity:1}
  100%{opacity:0}
}

/* Mobile View */
@media only screen and (max-width: 767px) {
  .marks-content{
    margin: 5px;
    margin-top: 10px;
  }
  .courseLabel{
    font-size: 22px;
    color: var(--font-color);
    font-family: var(--font-bold);
    margin-bottom: 5px;
  }
  .markLabel{
    font-size: 16px;
    color: var(--font-color);
    font-family: var(--font-normal);
    display:"inline-block";
  }
  .markLabelBold{
    font-size: 16px;
    color: var(--font-color);
    font-family: var(--font-bold);
    display:"inline-block";
  }
  .screen{
    padding:3vw;
  }
  .settingsIcon{
    width: 20px;
    padding:0px;
    right: 15px;
  }
  .refreshIcon{
    width: 20px;
    right: 45px;
    padding:1px;
  }
  .addButton{
    padding:6px;
    font-size: 30px;
    border-radius: 100px;
    bottom: 2%;
    right: 3%;
    width: 55px;
    box-shadow: 2px 2px 5px 1px var(--accent);
  }
  .infoIcon{
    right:0;
    top:unset;
    bottom:0;
    margin: 0px;
    margin-right: 0;
    margin-top: 0;
    padding: 0px;
    padding-top:20px;
    padding-left:10px;
    width:30px;
  }
  .infoIconWeek{
    margin: 0px;
    margin-right: 0;
    margin-top: 0;
    padding: 0px;
    padding-left:2px;
    width:20px;
  }
  .pinIconWeek{
    margin: 0px;
    margin-right: 4px;
    margin-top: 0;
    padding: 0px;
    padding-left:0px;
    width:13px;
  }
  th.weekday{
    font-size: 130%;
  }
  .weekTimeLabel{
    font-size: 14px;
    line-height: 1;
  }
  .weekEventLabel{
    font-size: 19px;
  }
  .courseBubble span{
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 15px;
  }
  .courseBubble{
    margin-bottom: -2px;
  }
  .marginNameFix{
    margin-right: 0px;
  }
  .header1{
    margin-top: 28px;
    font-size: 50px;
    font-family: var(--font-bold);
    color: var(--font-color);
    line-height: 1.15;
    margin-bottom: 28px;
    padding-right: 3px;
  }
  .iconBoxWeek{
    padding-right: 5px;
    padding-bottom: 6px;
  }
  .tabsLabel{
    font-size: 16px;
  }
  .nav-item.nav-link{
    border:none;
    padding-left: 12px;
    padding-right: 12px;

  }
  .tabsLabel a{
    margin-right:0px;
  }
}



.homeScreen{
  padding:5vw;
}

.homeHeader1{
  font-size: 80px;
  font-family: var(--font-bold);
  color: var(--font-color);
  line-height: 1.2;
  margin-bottom: 30px;
}
.homeContentLink{
  color: var(--font-color);
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .homeScreen{
    padding:10vw;
  }
  .homeHeader1{
    font-size: 60px;
  }
}